// Place all the styles related to the Codes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tagcloud {
	a {
		text-decoration: none;
	}

	.tagcloud1 {
		font-size: 1.3em;
	}

	.tagcloud2 {
		font-size: 1.6em;
	}

	.tagcloud3 {
		font-size: 1.9em;
	}

	.tagcloud4 {
		font-size: 2.1em;
	}

	.tagcloud5 {
		font-size: 2.5em;
	}

	.tagcloud6 {
		font-size: 2.8em;
	}

	.tagcloud7 {
		font-size: 3.1em;
	}

	.tagcloud8 {
		font-size: 3.3em;
	}

	.tagcloud9 {
		font-size: 3.5em;
	}

}
